<%= render 'pages/components/carousel' %>

  <div class="container mt-3">
  <h3>Categories</h3>
  <div class="container d-flex flex-row flex-nowrap overflow-auto cont-category">
    <div class="card-category" style="min-width: 300px;background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://autotest.com.ar/wp-content/uploads/2021/02/PEUGEOT-208-LIKE-AUTOS.jpg)">
      SEDAN
    </div>
    <div class="card-category" style="min-width: 300px;background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmZ2bjMZmpDx4iOytQauc8ldztrrJbi8Inmg&usqp=CAU)">
      MINIVAN
    </div>
    <div class="card-category" style="min-width: 300px;background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVEppn7fiACmU-HWPCogDVxYvmz3jdojA8mw&usqp=CAU)">
      SUV
    </div>
    <div class="card-category" style="min-width: 300px;background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://autotest.com.ar/wp-content/uploads/2021/02/PEUGEOT-208-LIKE-AUTOS.jpg)">
      SARTEN
    </div>
    <div class="card-category" style="min-width: 300px;background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVEppn7fiACmU-HWPCogDVxYvmz3jdojA8mw&usqp=CAU)">
      JEEPETA
    </div>
    <div class="card-category" style="min-width: 300px;background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVEppn7fiACmU-HWPCogDVxYvmz3jdojA8mw&usqp=CAU)">
      4x4
    </div>
    <div class="card-category" style="min-width: 300px;background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmZ2bjMZmpDx4iOytQauc8ldztrrJbi8Inmg&usqp=CAU)">
      MOTORCYCLES
    </div>
  </div>
  </div>
<%= render 'pages/components/cardsgrid' %>
